html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #333333;
    color: #fff;
    font-size: 20vw;
 }

h1 {
    text-align: center;
    font-size: 10vw;
}

.topBar {
    position: absolute;
    top: 0;
    background-color: #212121;
    width: 100vw;
    height: 7vh;
    left: 0;
    border-radius: 0 0 50px 50px;
}

.bottomBar {
    position: absolute;
    bottom: 0;
    background-color: #212121;
    width: 100vw;
    height: 15vh;
    left: 0;
    border-radius: 50px 50px 0 0;
    transition: height 250ms;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(500%);
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    width: 20vw;
    height: 20vw;
    transition: filter 250ms;
}

.selected {
    filter: brightness(120%);
}